/* <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/%22%3E');
@import url('https://fonts.gstatic.com/');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap');
body{
    font-family: 'Noto Sans Thai', sans-serif;
}

.logsign{
    display: flex;
    justify-content: space-between;
    
}

.logsigncolumn{
    width: 50%;
    margin: auto;
}

.logsigncolumn img{
    float: right;
}

h1.left,h2.left,h3.left,h4.left,h5.left,h6.left{
    color: black;
    font-weight: normal;
    text-align: left;
}

h1,h2,h3,h4,h5,h6{
    color: black;
    font-weight: normal;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form-input {
    width:50%;
    height:2rem;
    margin-top: 1rem;
}

.form-button {
    height:2rem;
    margin-top: 1rem;
}

.padpage{
    padding-left: 10%;
    padding-right: 10%;
}

.contextbox{
    /* background-color: aquamarine; */
    width: 60%;
    margin: auto;
}

.contextbox2{
    /* background-color: aquamarine; */
    width: 50%;
    margin: auto;
}

p{
    margin: 0;
}

p.graytext{
    color: #8f8f8f;
}

/*-------------------------------------------*/

table.t4{
    width: 40%;
}

table.t5{
    width: 50%;
}

table.t6{
    width: 60%;
}

table{
    margin: auto;
    text-align: center;

    /* border: 1px solid #D9D9D9; */
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0,0.05);
    border-collapse: collapse;
    /* background-color: gray; */
    border-radius: 1rem;
}

th, td {
    padding: 1rem;
}

tr{
    border-bottom: 1px solid #D9D9D9; 
}

tr:last-child{
    border: none
}