/* <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/%22%3E');
@import url('https://fonts.gstatic.com/');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap');
body{
    font-family: 'Noto Sans Thai', sans-serif;
}

h3{
    color: black;
    font-weight: normal;
}

.form-input {
    width:50%;
    height:2rem;
    margin-top: 1rem;
}

.form-button {
    height:2rem;
    margin-top: 1rem;
}

.contextbox{
    margin: 5% 20%;
}

.menuitemlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.menueachitemlist{
    text-align: center;
}

.picturemenu{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.picturemenu img{
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.graytext{
    color: #8f8f8f;
}