/* <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/%22%3E');
@import url('https://fonts.gstatic.com/');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap');
body{
    font-family: 'Noto Sans Thai', sans-serif;
}

h3{
    color: black;
    font-weight: normal;
}

p{
    font-size: 1rem;
    line-height: 0.7;
}

.form-input {
    width:50%;
    height:2rem;
    margin-top: 1rem;
}

.form-button {
    height:2rem;
    margin-top: 1rem;
}

.padpage{
    padding-left: 10%;
    padding-right: 10%;
}
.contextbox{
    margin: 5% 20%;
}

.graytext{
    color: #8f8f8f;
}