a.delete:hover{
    color: red;
}

.logsign{
    display: flex;
    justify-content: space-between; 
}

.logsign a:hover{
    color: #E37239;
}

.logsigncolumn{
    width: 50%;
    margin: auto;
}

.logsigncolumn img{
    float: right;
}