/* <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap" rel="stylesheet"> */
@import url('https://fonts.googleapis.com/%22%3E');
@import url('https://fonts.gstatic.com/');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Thai&display=swap');
body{
    font-family: 'Noto Sans Thai', sans-serif;
}

.logsign{
    display: flex;
    justify-content: space-between; 
}

.logsigncolumn{
    width: 50%;
    margin: auto;
}

.logsigncolumn img{
    float: right;
}

h1,h2,h3,h4,h5,h6{
    color: black;
    font-weight: normal;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.left{
    text-align: left;
}

/* 
.form-input {
    width:50%;
    height:2rem;
    margin-top: 1rem;
}

.form-button {
    height:2rem;
    margin-top: 1rem;
}
 */
 
.padpage{
    padding-left: 10%;
    padding-right: 10%;
}

.contextbox{
    width: 60%;
    margin: auto;
    margin-bottom: 5rem;
}

.contextbox2{
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
}

p{
    margin: 0;
}

p.graytext{
    color: #8f8f8f;
}

p.small{
    font-size: 0.75rem;
    text-align: center;
}

p.bold{
    font-weight: bold;
}

.banner{
    width: 100%;
    text-align: center;
}

.banner img{
    width: 100%;
}